<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.IO.Abstractions" version="22.0.14" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions" version="22.0.14" targetFramework="net48" />
  <package id="TestableIO.System.IO.Abstractions.Wrappers" version="22.0.14" targetFramework="net48" />
  <package id="Testably.Abstractions.FileSystem.Interface" version="9.0.0" targetFramework="net48" />
</packages>